<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am an undergraduate student at Dankook University. My major is Software Science, and I am interested in Artificial Intelligence and Robotics. I would like to pursue a PhD after I graduate. My current research interests are reinforcement learning, computer vision, and robot learning.</p>
      </div>
      <div class="col-lg-4">
        <p>My dream is to commit myself to creating a future where people do not have to risk their lives to obtain information. I strongly believe that intelligent robotic systems can realize this dream. My current goal is to advance general intelligence within the realm of computer vision. I am currently working on a universal object detection technique, which can be applied to any type of dataset, including long-tail distributions</p>
      </div>
    </div>
  </div>
</section>
